<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/es/thinkphp5/public/static/bootstrap-4.6.2-dist/css/style.css"  rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/es/thinkphp5/public/static/bootstrap-4.6.2-dist/css/bootstrap.min.css">
    <title>系统管理</title>
</head>
<body style="background-color: #508bfc;">
    <section class="vh-200">
        <div class="container py-3 h-100">
            <div class="row justify-content-center ">
                    <div class="card shadow-2-strong" style="border-radius: 1rem; height: 1010px;">
                        
                            <div class="row ml-0">
                                <nav>
                                    <ul class="nav nav-pills">   
                                        <li class="nav-item">
                                            <a class="nav-link" href="{:url('homepage_controller/index')}">主页</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{:url('information_controller/index')}">个人信息</a>
                                        <li class="nav-item">
                                            <a class="nav-link " href="{:url('system_controller/index')}">系统管理</a>
                                        </li>   
                                        <li class="nav-item">
                                            <a class="nav-link " href="{:url('Login_controller/index')}">退出账户</a>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="col-md-12 mt-4"  style="width: 400px">
                                    <h4 class="text-center">系统管理</h4>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <a href="{:url('user_controller/index')}" class="list-group-item list-group-item-action">成员管理</a>
                                    <a href="{:url('income_controller/index')}" class="list-group-item list-group-item-action">收入管理 </a>
                                    <a href="{:url('pay_controller/index')}" class="list-group-item list-group-item-action">支出管理</a>
                                    <a href="{:url('account_controller/index')}" class="list-group-item list-group-item-action">账户方式</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</body>
</html>