{extend name="index"/}
{block name="title"}
系统管理
{/block}
{block name="section"} 
{/block}
{block name="content"}  
                            <div class="row ml-0">
                                <div class="col-md-12 mt-4"  style="width: 400px">
                                    <h4 class="text-center">系统管理</h4>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <a href="{:url('user_controller/index')}" class="list-group-item list-group-item-action">成员管理</a>
                                    <a href="{:url('income_controller/index')}" class="list-group-item list-group-item-action">收入管理 </a>
                                    <a href="{:url('pay_controller/index')}" class="list-group-item list-group-item-action">支出管理</a>
                                    <a href="{:url('account_controller/index')}" class="list-group-item list-group-item-action">账户方式</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {/block}  
    </section>
</body>
</html>