{extend name="index"/}
{block name="title"}
编辑信息
{/block}
{block name="section"} 
{/block}
{block name="content"}  
                <div class="form-row  mt-ms5">   
                    <a href="{:url('information_controller/index')}" class="btn btn-primary float-left" style="margin-left: 10px;">返回</a>
                </div>
                <br>   
                <div class="d-flex align-items-center">
                    <div class="mx-auto"> 
                        <h4 >编辑信息</h4>
                    </div>     
                  </div>  
                  <br>   
                  <form action="updata" method="post">
                      <div style="width: 400px; padding: 10px;">
                        <label for="validationServer01">名字 :</label>
                        <input type="text" name ="name" class="form-control " id="validationServer01" value="{$user->getData('name')}">                          
                    </div>
                      <div class="form-row"  style="margin-left: 10px; margin-right: 10px;">               
                        <button class="btn btn-primary btn-lg btn-block" type="submit">确认</button>
                        <a href="{:url('updatapassword')}" class="btn btn-primary btn-lg btn-block">修改密码</a>
                      </div>           
                </form>   
                </div>
              </div>
            </div>
          </div>
        </div>
        {/block}
      </section>
</body>
</html>