{extend name="index"/}
{block name="title"}
个人信息
{/block}
{block name="section"} 
{/block}
{block name="content"}  
                <br>   
                <div class="d-flex align-items-center">
                    <div class="mx-auto"> 
                        <h4 >个人信息</h4>
                    </div>     
                  </div>  
                  <br>   
                  <form>
                    <div style="width: 400px; padding: 10px;">
                      <label for="validationServer01">名字</label>
                      <input type="text" name ="name" class="form-control " id="validationServer01" value="{$user->getData('name')}" disabled>                          
                  </div>
                  <div style="width: 400px; padding: 10px;">
                    <label for="validationServer02">用户名</label>
                    <input type="text" name ="username" class="form-control" id="validationServer02" value="{$user->getData('username')}" disabled>                        
                </div>  
                    <div class="form-row"  style="margin-left: 10px; margin-right: 10px;">               
                        <!-- <input type="button" class="btn btn-primary btn-lg btn-block" onclick="window.open('./information.html')"value="添加"> -->
                        <a href="{:url('edit')}" class="btn btn-primary btn-lg btn-block">编辑</a>
                      </div>           
                </form>        
                </div>
              </div>
            </div>
          </div>
        </div>
        {/block}
      </section>
</body>
</html>