{extend name="index"/}
{block name="title"}
支付管理
{/block}
{block name="section"} 
{/block}
{block name="content"}
            <!-- return -->
                <div class="form-row  mt-ms5">   
                    <a href="{:url('edit')}" class="btn btn-primary float-left" style="margin-left: 10px;">返回</a>
                </div>
                <br>   
                <div class="d-flex align-items-center">
                    <div class="mx-auto"> 
                        <h4 >修改密码</h4>
                    </div>     
                  </div>  
                  <br>   
                  <form action="upsave" method="post" class="form-mglr">
                    <input type="hidden" name="id" value="{$user->getData('id')}" />
                    <div class="form-group">
                        <label for="recipient-name">原密码：</label>
                        <input type="password" id="oldpassword" class="form-control" name="oldpassword" required placeholder="原密码">
                        <div style="display: inline" id="tip1"></div>
                    </div>
                    <div class="form-group">
                        <label for="message-text">新密码：</label>
                        <input type='password' name="password1" class="form-control" required placeholder="长度为: 6-18">
                        <div style="display: inline" id="tip2"></div>
                    </div>
                    <div class="form-group">
                        <label for="message-text">确认密码：</label>
                        <input type='password' name="password2" class="form-control" required placeholder="请再次输入新密码">
                        <div style="display: inline" id="tip3"></div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary"  ng-disabled="editForm.$invalid" type="submit">确定</button>
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>    
                    </div>
                </form>
            </div>      
                </div>
              </div>
            </div>
          </div>
        </div>
        {/block}
      </section>
</body>
</html>