{extend name="index"/}
{block name="title"}
成员管理
{/block}
{block name="section"} 
{/block}
{block name="content"}
              <!-- 账户清单 -->
                        <div class="filter-tit">
                            <ul class="nav float-left" >
                                <li class="account-list-title ">  
                                   帐目清单
                                </li>
                                <li class="ft-date-begin">
                               {$start_time}
                                </li>
                                <li class="ft-date-begin">
                                  &nbsp; ~&nbsp;
                                 </li>
                                <li class="ft-date-begin">
                              {$end_time}
                                 </li>
                            </ul>
                            <ul class="nav float-right">
                              <li class="nav-item ">
                                  <span class="ft-span">收出</span>
                                  <span class="orange number">{$incomes}</span>
                                  <span class="line"></span>
                              </li>
                            </ul>
                        </div>
      <!-- 日期和总支出收入 -->
                    <div class="margin-button">
                    
                    </div>
                    <div>
                        <nav class="navbar navbar-light bg-light">
                            <form class="form-inline">
                              <form action="{:url('index')}" method="get">
                            
                                <select name="date" class="form-control smr-sm-3" style="width: 100px;">
                                  {eq name="$tid" value = "0"}
                                <option value="today" {eq name="$date" value="today"} selected="selected" {/eq}>今天</option>
                                <option value="yesterday"  {eq name="$date" value="yesterday"} selected="selected" {/eq}>昨天</option>    
                                {/eq}

                                {eq name="$tid" value = "1"}
                                <option value="week" {eq name="$date" value="week"} selected="selected" {/eq}>本周</option>
                                <option value="last week"  {eq name="$date" value="last week"} selected="selected" {/eq}>上周</option>    
                                {/eq}

                                {eq name="$tid" value = "2"}
                                <option value="month" {eq name="$date" value="month"} selected="selected" {/eq}>本月</option>
                                <option value="last month"  {eq name="$date" value="last month"} selected="selected" {/eq}>上个月</option>       
                                {/eq}

                                {eq name="$tid" value = "3"}
                                <option value="year" {eq name="$date" value="year"} selected="selected" {/eq}>今年</option>
                                <option value="last year"  {eq name="$date" value="last year"} selected="selected" {/eq}>去年</option>    
                                {/eq}

                              </select>
                              <input name="remark" type="text" class="form-control smr-sm-2 w-25 p-3 "  placeholder="备注..." value={:input('get.remark')}>
                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">查询</button>
                            </form>
                        </nav>
                    </div>
                
                      <div class=table-responsive">
                        <table class="table text-nowrap">
                          <thead>
                          <tr class="text-center">
                            <th scope="col">分类</th>
                            <th scope="col">收 | 支</th>
                            <th scope="col">金额</th>
                            <th scope="col">备注</th>
                            <th scope="col">日期</th>
                          </tr>
                          </thead>
                        
                          {volist name="streams" id="stream" key = "key"}
                          <tr >
                           <td class="text-center">                                
                              {$stream->Income['name']}
                           </td>
                            <td class="text-center"><span class="orange text-center">{$stream->inandex}</td>
                            <td>
                              <span class="orange text-center">
                               <?php
                                    $money =  $stream->getData('money');
                                    echo number_format($money, 2, '.', ',');;   
                                    ?>
                              </span></td>
                            <td>{$stream->getData('remark')}</td>
                            <td>{$stream->create_time}</td>
                          </tr>
                          {/volist}
                        </tbody>
                      </table>
                      </div>    
                      {$streams->render()}
                  </div>
            </div>
          </div>
        </div>
        {/block}
      </section>
</body>
</html>