{extend name="index"/}
{block name="title"}
首页
{/block}
{block name="section"} 
{/block}
{block name="content"}  
            <div class="form-row  mt-ms5">   
              <a href="{:url('index')}" class="btn btn-primary float-left" style="margin-left: 10px;">返回</a>
            </div>
            <br>  
              <div class="d-flex align-items-center">
                  <div class="mx-auto"> 
                      <h4 >{eq name = "eid" value ="0"} 增加类型  {else /}编辑类型{/eq}</h4>
                  </div>     
              </div>  
            <br>
                 <div class="form-mglr"> 
                  {php}$action = request()->action() === 'add' ? 'insert' : 'update';{/php}
                    <form action="{:url($action)}" method="post">
                        <div class="form-group">
                          <label>类型:</label>
                          <input type="hidden" name="id" value="{$Income->getData('id')}" />
                          <input type="text"   class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name" value="{$Income->getData('name')}" />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">保存</button>
                      </form>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
         {/block}
      </section>
</body>
</html>