<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/thinkphp5/public/static/bootstrap-4.6.2-dist/css/style.css"  rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/thinkphp5/public/static/bootstrap-4.6.2-dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <section class="vh-200" style="background-color: #508bfc;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem; height: 800px;">   
                <nav>
                  <ul class="nav nav-pills">   
                    <li class="nav-item">
                      <a class="nav-link" href="{:url('homepage_controller/index')}">主页</a>
                    </li>
                
                    <li class="nav-item">
                      <a class="nav-link" href="{:url('information_controller/index')}">个人信息</a>
                  
                    <li class="nav-item">
                      <a class="nav-link " href="{:url('system_controller/system')}">系统管理</a>
                    </li>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="{:url('Login_controller/index')}">退出账户</a>
                  </li>
                  </ul>
              </nav>
            
                <div class="row" style="margin-left: 10px;margin-right: 10px;">
                      &nbsp;&nbsp; 
                      <a href="incomeAnd.html" class="col-sm btn btn-primary btn-lg smr-sm-3">收入</a>&nbsp;&nbsp;
                      <a href="incomeAnd.html" class="col-sm btn btn-danger btn-lg smr-sm-3">支出</a>&nbsp;&nbsp;
                  </div>

                    <div class="jumbotron form-mglr" style="border-radius: 20px; background-image:url(/thinkphp5/public/static/bootstrap-4.6.2-dist/images/350.jpeg);">
                     <p class="lead" style="color: white;">净资产</p>
                     <h1 class="display-4" style="color: white;">-5.00</h1>
                  </div>
                  <div class="form-mglrs">
                    <h4>收支表</h4>
                    <br>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">昨天</th>
                            <th scope="col">本周</th>
                            <th scope="col">本月</th>
                            <th scope="col">本年</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">收入</th>
                            <td ><a href="turnOver.html" class="colorR">0.00</a></td>
                            <td ><a href="turnOverWeek.html" class="colorR">0.00</a></td>
                            <td ><a href="turnOverM.html" class="colorR">5000</a></td>
                            <td ><a href="turnOverYear.html" class="colorR">30000</a></td>
                          </tr>
                          <tr>
                            <th scope="row">支出</th> 
                            <td ><a href="turnOver.html" class="colorG">0.00</a></td>
                            <td ><a href="turnOverWeek.html" class="colorG">0.00</a></td>
                            <td ><a href="turnOverM.html" class="colorG">300</a></td>
                            <td ><a href="turnOverYear.html" class="colorG">1000</a></td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                   
              </div>
               </div>
              
            </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>