{extend name="index"/}
{block name="title"}
首页
{/block}
{block name="section"} 
{/block}
{block name="content"}
                        <div class="row" style="margin-left: 10px;margin-right: 10px;">
                            &nbsp;&nbsp; 
                            <a href="{:url('stream_controller/add?aid=1') }" class="col-sm btn btn-primary btn-lg smr-sm-3">收入</a>&nbsp;&nbsp;
                            <a href="{:url('stream_controller/add?aid=0')}" class="col-sm btn btn-danger btn-lg smr-sm-3">支出</a>&nbsp;&nbsp;
                            <a href="{:url('bill_controller/index')}" class="col-sm btn btn-info btn-lg smr-sm-3">账户</a>&nbsp;&nbsp;
                        </div>
                        <div class="jumbotron form-mglr" style="border-radius: 20px; background-image:url(/es/thinkphp5/public/static/bootstrap-4.6.2-dist/images/351.jpg);">
                            <p class="lead" style="color: rgb(32, 49, 52);"><h4><b>净资产：</b></h4></p>
                            <p class="lead" style="color: rgb(32, 49, 52);"><h2><b>{$sum}</b></h></p> 
                            <h1 class="display-4 " style="color: rgb(32, 49, 52);" >
                                <ul class="nav">
                                    <li class="nav-item ">
                                        <span class="ft-span">今天收入:</span>
                                        <span class="orange number"><a href="{:url('stream_controller/indexincome?tid=0&&sid=1')}"style="color: black;" >{$TodayIncomeSum}</a></span>
                                        <span class="line"></span>
                                    </li>
                                    <li class="nav-item">
                                        <span class="ft-span">今天支出:</span>
                                        <span class="green number"><a href="{:url('stream_controller/indexpay?tid=0&&sid=1')}"style="color: black;" >{$TodayPaySum}</a></span>
                                        <span class="line"></span>
                                    </li>
                                </ul>
                            </h1>
                        </div>
                        <div style="margin-right: 10px;">                             
                            <div class="form-mglrs">
                                <h4>收支表</h4>
                                <br>
                                <div class=table-responsive">
                                    <table class="table text-nowrap">
                                        <thead>
                                            <tr >
                                                <th scope="col"></th>
                                                <th scope="col"><a href="{:url('stream_controller/index?tid=0')}"style="color: black;" >昨天</a></th>
                                                <th scope="col"><a href="{:url('stream_controller/index?tid=1')}" style="color: black;">本周</a></th>
                                                <th scope="col"><a href="{:url('stream_controller/index?tid=2')}" style="color: black;" >本月</a></th>
                                                <th scope="col"><a href="{:url('stream_controller/index?tid=3')}" style="color: black;">本年</a></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">收入</th>
                                                <td ><a href="{:url('stream_controller/indexincome?tid=0')}" class="colorR">{$incomey}</a></td>
                                                <td ><a href="{:url('stream_controller/indexincome?tid=1')}" class="colorR">{$incomew}</a></td>
                                                <td ><a href="{:url('stream_controller/indexincome?tid=2')}" class="colorR">{$incomem}</a></td>
                                                <td ><a href="{:url('stream_controller/indexincome?tid=3')}" class="colorR">{$incomeyear}</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">支出</th> 
                                                <td ><a href="{:url('stream_controller/indexpay?tid=0')}" class="colorG">{$payy}</a></td>
                                                <td ><a href="{:url('stream_controller/indexpay?tid=1')}" class="colorG">{$payw}</a></td>
                                                <td ><a href="{:url('stream_controller/indexpay?tid=2')}" class="colorG">{$paym}</a></td>
                                                <td ><a href="{:url('stream_controller/indexpay?tid=3')}" class="colorG">{$payyear}</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
        {/block}
    </section>
</body>
</html>