{extend name="index"/}
{block name="title"}
账单
{/block}
{block name="section"} 
{/block}    
    {block name="content"}
        <div class="filter-tit">
            <ul class="nav float-left ml-2 mr-2" >
                <li class="nav-item ">
                    <span class="ft-span">今收<span class="orange number">{$IncomeToday}</span></span>
                    <span class="line"></span>
                </li>
                <li class="nav-item">
                    <span class="ft-span">今支<span class="green number">{$PayToday}</span></span>
                    <span class="line"></span>  
                 </li>
            <li class="nav-item">
                <?php
                if($sumToday < 0) {
                    echo '<span class="ft-span">今总<span class="green number">'; 
                    echo $sumToday;
                    echo '</span></span>';
                } else {
                    echo '<span class="ft-span">今总<span class="orange number">'; 
                    echo $sumToday;
                    echo '</span></span>';
                }
                ?>  
             </li>
            </ul>
            <ul class="nav float-right mr-2">
            <li class="nav-item ">
                <span class="ft-span">总收 <span class="orange number">{$IncomeSum}</span></span>
            </li>
            <span class="line"></span>
            <li class="nav-item">
                <span class="ft-span">总支</span>
                <span class="green number">{$PaySum}</span>
            </li>
            </ul>
        </div> 
        <nav class="navbar navbar-light bg-light">
        <form class="form-mglr"  method="get">
            <div class="form-row" col-md-4>
                <select name="accounts" sid="account"  class="form-control smr-sm-2" style="width: 100px;">
                    <option style="color: black;">账户</option>
                    {volist name="Bill" id="account"}           
                        <option value={$account:name} {eq name="$account:name" value="$accountTest"} selected="selected"{/eq} style="color: black;">{$account->getData('name')}</option> 
                    {/volist}
                </select>
                <input name="remark" type="text" class="form-control smr-sm-2 w-25 p-3 " style="width:100px" placeholder="备注..." value={:input('get.remark')} >
                <button class="btn btn-outline-success my-0 my-sm-0" type="submit">查询</button>
            </div>
        </form>  
        </nav>
        <div class=table-responsive">
            <table class="table text-nowrap">
                <thead>
                    <tr class="text-center">
                        <th scope="col">分类</th>
                        <th scope="col">收 | 支</th>
                        <th scope="col">金额</th>
                        <th scope="col">备注</th>
                        <th scope="col">日期</th>
                    </tr>
                </thead>                        

                {volist name="streams" id="stream" key="key"}
                    <tr>
                        <td >                                
                            {eq name="stream->getData('inandex')" value="1"}
                                {$stream->Income['name']}{else /}{$stream->Pay['name']}
                            {/eq}
                        </td>
                        <td class="text-center">
                            {eq name="stream->getData('inandex')" value="1"}
                                <span class="orange text-center">{$stream->inandex}</span>
                                {else /}<span class="green text-center">{$stream->inandex}
                            {/eq}
                        </td>
                        <td>{eq name="stream->getData('inandex')" value="1"}
                            <span class="orange text-right" >                        
                            <?php
                                $money =  $stream->getData('money');
                                echo number_format($money, 2, '.', ',');;   
                              ?>
                            </span>
                            {else /}
                                <span class="green text-right" > 
                                    <?php
                                        $money =  $stream->getData('money');
                                        echo number_format($money, 2, '.', ',');;   
                                    ?>
                                </span>{/eq}</td>
                        <td>{$stream->getData('remark')}</td>
                        <td>{$stream->create_time}</td>        
                    </tr>
                {/volist}
            </table>
             <div style="margin-left: 20px;">
                 {$streams->render();}
            </div>
        </div>
{/block}
</body>
</html>