{extend name="index"/}
{block name="title"}
账单
{/block}
{block name="section"} 
{/block}
    {block name="content"} 
        <div class="filter-tit">
            <ul class="nav float-left" >
                <li class="account-list-title ">  
                帐目清单
                </li>
                <li class="ft-date-begin">
            123
                </li>
                <li class="ft-date-begin">
                &nbsp; ~&nbsp;
                </li>
                <li class="ft-date-begin">
            123
                </li>
            </ul>
            <ul class="nav float-right">
            <li class="nav-item ">
                <span class="ft-span">总收入</span>
                <span class="green number">123</span>
                <span class="line"></span>
            </li>
            <li class="nav-item">
                <span class="ft-span">总支出</span>
                <span class="orange number">123</span>
                <span class="line"></span>
            </li>
            </ul>
        </div> 
         
        <form class="form-mglr"  method="get">
            <div class="form-row" col-md-4>
                <select name="account_id" sid="account"  class="form-control smr-sm-2" style="width: 100px;">
                    {volist name="Bill" id="account"}
                        <option selected="selected" style="color: black;">{$account->getData('name')}</option> 
                    {/volist}
                </select>
                <input name="remark" type="text" class="form-control smr-sm-2 w-25 p-3 "  placeholder="备注..." value={:input('get.remark')} >
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">查询</button>
            </div>
        </form>  

        <div class=table-responsive">
            <table class="table text-nowrap">
                <thead>
                    <tr class="text-center">
                        <th scope="col">分类</th>
                        <th scope="col">收 | 支</th>
                        <th scope="col">金额</th>
                        <th scope="col">备注</th>
                        <th scope="col">日期</th>
                    </tr>
                </thead>
               
                {volist name="streams" id="stream" key="key"}
                    <tr>
                        <td class="text-center">                                
                            {eq name="stream->getData('inandex')" value="1"}
                                {$stream->Income['name']}{else /}{$stream->Pay['name']}
                            {/eq}
                        </td>
                        <td class="text-center">
                            {eq name="stream->getData('inandex')" value="1"}
                                <span class="orange text-center">{$stream->inandex}</span>
                                {else /}<span class="green text-center">{$stream->inandex}
                            {/eq}
                        </td>
                        <td>{eq name="stream->getData('inandex')" value="1"}
                            <span class="orange text-center" > 
                                
                                    
                               
                            <?php
                                $money =  $stream->getData('money');
                                echo number_format($money, 2, '.', ',');;   
                              ?>
                            </span>
                            {else /}
                                <span class="green text-center" >
                                    
                                    <?php
                                        $money =  $stream->getData('money');
                                        echo number_format($money, 2, '.', ',');;   
                                    ?>
                                </span>{/eq}</td>
                        <td>{$stream->getData('remark')}</td>
                        <td>{$stream->create_time}</td>
                       
                    </tr>
                {/volist}
            </table>
            
        </div>
{/block}
</body>
</html>