{extend name="index"/}
{block name="title"}
账户管理
{/block}
{block name="section"} 
{/block}
{block name="content"}
                        <div class="form-row  mt-ms5">   
                            <a href="{:url('system_controller/index')}" class="btn btn-primary float-left" style="margin-left: 10px;">返回</a> 
                        </div>
                        <br>   
                        <div class="d-flex align-items-center" style="width: 400px;">
                                <div class="mx-auto"> 
                                    <h4 >账户管理</h4>
                                </div>     
                            </div>  
                        <br>   
                        <nav class="navbar navbar-light bg-light">
                            <form class="form-inline" >
                                <input name="name" type="text" class="form-control smr-sm-2" style="width:100px"  placeholder="类型..." value="{:input('get.name')}">
                                <button class="btn btn-outline-success" type="submit">查询</button>
                            </form>
                            <a href="{:url('add')}" class="btn btn-primary float-right">添加</a>
                        </nav>
                            <div class="col mt-4">
                                <table class="table ">
                                    <thead>
                                        <tr class="text-center">
                                            <th scope="col">序号</th>
                                            <th scope="col">类型</th>
                                            <th scope="col">操作</th>
                                        </tr>
                                    </thead>
                                    {volist name="Account" id="account" key="key"}
                                        <tbody>    
                                            <tr>
                                                <td>{$key}</td>
                                                <td> &nbsp;&nbsp;{$account->getData('name')}</td>
                                                <td>
                                                    &nbsp;&nbsp; <a type="button"  class="btn-sm btn-primary" href="{:url('edit?id=' . $account->getData('id'))}">编辑</a>
                                                    <a  type="button" class="btn-sm btn-danger" href="delete?id={$account->getData('id')}">删除</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    {/volist}
                                </table>
                                {$Account->render()}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/block}
    </section>
</body>
</html>