{extend name="index"/}
{block name="title"}
编辑信息
{/block}
{block name="section"} 
{/block}
{block name="content"}                
                    <div class="form-row  mt-ms5">   
                        <a href="{:url('system_controller/index')} " class="btn btn-primary float-left" style="margin-left: 10px;">返回</a>      
                    </div>  
                    <div class="d-flex align-items-center">
                        <div class="mx-auto"> 
                            <h4 >编辑信息</h4>
                        </div>     
                    </div>  
                    <br>   
                    <form action="{:url('update')}" method="post">
                        <div class="form-row"  style="margin-left: 10px; margin-right: 10px;">
                            <input type="hidden" name="id" value="{$User->getData('id')}"/>
                                <div class="col-md-6 mb-3">
                                    <label >姓名</label>
                                    <input type="text" class="form-control " name ="name" value="{$User->getData('name')}"/>      
                                </div>                     
                                <div class="col-md-6">
                                    <label>权限</label>
                                    <select name="permissions"  class="form-control" >
                                        <option value="0">用户</option>
                                        <option value="1" {eq name="User->getData('permissions')" value="1"}selected="selected"{/eq}>管理员</option>
                                    </select>  
                                </div>
                            <button class="btn btn-primary btn-lg btn-block" type="submit">修改</button>
                            <a href="{:url('resetpassword?id=' . $User->getData('id'))}" class="btn btn-primary btn-lg btn-block">重置密码</a>
                        </div>   
                    </form>   
                </div>
              </div>
            </div>
          </div>
        </div>
        {/block}
      </section>
</body>
</html>