{extend name="index"/}
{block name="title"}
    班级管理
{/block}
{block name ="search"}
{/block}
{block name="content"} 
            <hr />
            <table class="table table-hover table-bordered">
                <tr class="thead-light">
                    <th>序号</th>
                    <th>名称</th>
                    <th>辅导员</th>
                    <th>操作</th>
                </tr>
                {volist name="klasses" id="klass" key="key"}
                <tr>
                    <td>{$key}</td>
                    <td>{$klass->name}</td>
                    <td>{$klass['Teacher']['name']}</td>
                    <td><a class="btn btn-danger btn-sm" href="{:url('Klass_controller/delete?id=' . $klass->getData('id'))}">
                        <i class="glyphicon glyphicon-trash"></i>&nbsp;删除
                    </a>&nbsp;<a class="btn btn-sm btn-primary" href="{:url('Klass_controller/edit?id=' . $klass->getData('id'))}">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a></td>
                    </tr>
                    {/volist}
                </table>
                {/block}
                {block name="page"}
                {$klasses->render()}
                {/block}
     